/* style.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.container {
    padding: 20px;
    border-radius: 12px;
    max-width: 700px;
    margin: auto;
}

button {
    padding: 10px;
    cursor: pointer;
}